body {
	background-image: url("mountain.jpg");
	    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: top;
    background-size: cover;
}
nav {
   text-align: right;
    color:white !important;
    margin:0 100px; 
    padding:20px;
  }
 .boite{
    text-align : center;
    padding : 1em;
    width  : 20em;
    height : 20em;
    background-color: white ;
    margin-left:250px;
    margin-top: 100px;
    border-radius: 5%
 }
.logo {
    position: absolute;
    top: 0px;
    left: 0px;
         padding: 5px;
     width: 50px;
     height: 50px;
     
      }


