body {
	background-image: url("mountain.jpg");
	    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: top;
   background-size: cover;
}
.barrenav {
    display: inline;
    float: right;

  }
