body {
	background-image: url("mountain.jpg");
	    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: top;
    background-size: cover;
}
nav {
   text-align: right;
    color:white;
    margin:0 20px; 
  }
 .boite{
    text-align : center;
    padding : 1em;
    width  : 20em;
    height : 20em;
    background-color: white;
    position: relative;
 
 }
